<div class="footer">
  <div class="w">
    <div class="links">
      <a class="link" href="javascript(0);" target="_blank">慕课网</a> |
      <a class="link" href="javascript(0);" target="_blank">百度</a> |
      <a class="link" href="javascript(0);" target="_blank">淘宝</a> |
      <a class="link" href="javascript(0);" target="_blank">知乎</a>
    </div>
    <p class="copyright">
      Copyright © 2017 happymmall.com All Right Reserved
    </p>
    <p class="links">
      <a class="link" target="_blank" href="https://github.com/1094549944/jqProject">github地址</a>
      <a class="link" target="_blank" href=" https://coding.imooc.com/learn/list/109.html">学习地址</a>
    </p>
  </div>
  <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js">
  </script>